<div class='top_header_wrapper'>
  <button>
    <%= link_to 'Create', {controller: params[:controller], action: :new}%>
  </button>
  <%= form_tag({}, {method: 'get', id: 'meta_table_search_form', remote: true}) do %>
    <%= text_field_tag :basic_search, params[:basic_search], :class => 'meta_table_search_input' %>
    <%= select_tag 'table_view', options_for_select(MetaTable.views_for_controller, params[:table_view]) %>
    <% if params[:table_view].to_i > 0 %>
      <button class='edit_view'>
        <a href=<%= "/meta_table/#{params[:table_view]}/edit" %> data-remote='true'> E </a>
      </button>
    <% end %>
    <button class='create_view'>
      <a href=<%= "/meta_table/new?key=#{MetaTable.controller.class}&for=#{MetaTable.klass.to_s.downcase}" %> data-remote='true'> + </a>
    </button>
  <% end %>
  <div class='clearfix'></div>
</div>