<table clsas='data_table'>
  <thead>
    <tr>
      <% content.current_attributes.each do |attribute| %>
        <th class="<%= attribute[:key] %>">
          <%= MetaTable.render_header_attribute(attribute) %>
          <span class="sorting_arrow">
            <%= sorting_arrow(attribute[:key]) %>
          </span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% content.collection.each do |record| %>
      <tr class= <%= cycle('odd', 'even') %> >
        <% content.current_attributes.each do |attr| %>
          <td><%= MetaTable.implicit_render(record, attr) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>